<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Data-Core Systems</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
   .more_padding_inmedia {
		padding: 0 25px 20px !important;
	}
   ul.list_normal_m_long{
		margin:15px 0 0; padding:0px; list-style:disc;	
   }
   ul.list_normal_m_long li{
		margin:0px 0 0 15px; padding:5px 0px 5px 15px; list-style:disc;	font:normal 16px/24px "opensans-regular";
   }
   .newfont_bolder{
		float: left;
		font: 16px/24px "opensans-bold";
		width: 202px !important;
   }
   ul.list_normal_m_long{
		margin:15px 0 0; padding:0px; list-style:disc;	
   }
   ul.list_normal_m_long li{
		margin:0px 0 0 15px; padding:5px 0px 5px 15px; list-style:disc;	font:normal 16px/24px "opensans-regular";
   }
  </style>
 </head>
 <body>
 <nav class="navbar navbar-default">
  <div class="container-fluid col-xs-12">
    <div class="navbar-header">
	  <img src="https://storage.googleapis.com/mias-test-static1/static/logo.png" alt="Logo" style="padding-bottom: 5px; width: 100%;"/>
    </div>
    <ul class="nav navbar-nav" style="float: right; text-align: center;">
      <li><a href="http://datacoresystems.com/about-us/locations" style="color: black;">About Us</a></li>
      <li><a href="http://datacoresystems.com/about-us/partnerships" style="color: black;">Contact Us</a></li>
    </ul>
  </div>
</nav>
  <div class="container">
   <div class="row">
    <div class="col-xs-12 well">
     <h2>Media Intelligence </h2>
	 <p>With over 20 years of experience, Data-Core will be your go-to source for all of your Media Intelligence solutions.</p>
	 <a href="/login" class="btn btn-primary">Login</a>
    </div>
   </div>
   <div class="row">
    <div class="col-xs-12">
	 <p>Companies today are looking for a partner who can implement a process customized for their 
	 specific needs and at the same time manage to maintain the continuity of their work. 
	 Data-Core’s Media Intelligence professionals have experience in a wide range of services, 
	 with their technical expertise and client-focused approach delivering consistently superior 
	 results.</p>
	 <h3>Media Intelligence</h3>
	 <h2>Broadcast &amp; Cable TV Monitoring</h2>
	 <p>The advertisements are identified and segmented out manually, using a software proprietary
	 to the Clients or provided by Data-Core. These identified advertisements are then mapped 
	 against an archive for duplicates. Any new advertisements identified are placed in a manual 
	 queue for classification and attribution. Data-Core has been outsourced the segmentation, 
	 mapping, classification, coding and attributing of broadcast advertisements placed in this 
	 manual queue. The process involves, in order of complexity:</p>
	 <div class="more_padding_inmedia">
	  <ul class="list_normal_m_long">
	   <li>
	    <span class="newfont_bolder">Segmentation:&nbsp;</span>identification of advertisements
	   </li>
	   <li>
	    <span class="newfont_bolder">Mapping:&nbsp;</span>whether the advertisement is new or a repeat of an earlier advertisement
	   </li>
	   <li>
		<span class="newfont_bolder">Classification/Coding:&nbsp;</span>placing the advertisement in its relevant category
	   </li>
	   <li>
		<span class="newfont_bolder">Quality assurance:</span>&nbsp;verifying if the first two processes were executed correctly
	   </li>
	   <li>
		<span class="newfont_bolder">Attributing:&nbsp;</span>adding attributes to the advertisement in accordance with Client needs and requests
	   </li>
	  </ul>
	 </div>
	</div>
	<div>&nbsp;</div>
	<h2>Online Ad Monitoring</h2>
	<p>Web-scraping software is used to identify advertisements appearing 
	on the various web pages. Sometimes, the automated process identifies an advertisement as new 
	due to varying sizes or orientations. Data-Core’s business process function is to isolate an 
	advertisement material that has been identified by the, web-scraping software, trigger a 
	search against an archived database, map its attributes from an existing duplicate 
	advertisement, or mark it as new. If the advertisement is new, as most of them are, the 
	operator goes to the next step — a creative attribution process — where the operator adds 
	attributes such as Primary Advertiser, Co-op Partner, Competitor, Headline, a brief 
	Advertisement Description, Celebrities and a Tag Line. The attribution process requires
	experienced operators, familiar with the domain and possessing good articulation skills.
	</p>
	<br>
	<h2>Print Media Segmentation</h2>
	<p>Scanned pages of Newspapers and Magazines are accessed from a secure 
	database. The mapping process with data from an archived database is done to eliminate 
	duplicate advertisements. Our operators identify advertisements based on specific guidelines, 
	and from those pages add attributes similar to online advertisements. In this manner, 
	the client is able to identify any new advertisement appearing in a publication throughout 
	the U.S. within a few days of the availability of the publication.</p>
	<br>
	<h2>Radio Broadcasting Monitoring</h2>
	<p>In this kind of processing, our operators listen to broadcast 
	material and do the following:</p>
	<div class="more_padding_inmedia">
	 <ul class="list_normal_m_long">
	  <li>
	   Provide fully transcribed (edited or unedited) material or summarized descriptions of the material.
	  </li>
	  <li>
	   Determine whether an advertisement is new by the “mapping” process.
	  </li>
	  <li>
	   Complete the creative attribution process as described above for all new advertisements.
	  </li>
	 </ul>
	</div>
	<div>&nbsp;</div>
	<h2>Multilingual capability</h2>
	<p>Data-Core performs all of the above processes in all media in 
	multiple languages: English, Spanish and French.</p>
   </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 </body>
</html>