{% extends "base.html" %}

{% block head_title %} {{ block.super }} | HOME {% endblock %}

{% block content %}

<div class="jumbotron">
    <div class="container">
    <h1>RUZIVO</h1>
    <p class="lead">RUZIVO is Media Intelligence and Automation System that can segment and detect image and video data of advertisements.</p>
    <p><a href="http://datacoresystems.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
	</div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What is RUZIVO?</h2>
        <p>
	    RUZIVO provides you a powerful, vision-based way to analyze multimedia data
            including image and video. Specifically, RUZIVO can segment advertising images, and
	    classify AD and Non-AD for customer.
        </p>
        <p><a class="btn btn-default" href="http://datacoresystems.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How to use RUZIVO</h2>
        <p>
	    To find AD segments from customer's media database, RUZIVO uese Machine Learning
	    techniques for the classification, and computer vision algorithm for the
	    segmentation.
	</p>
        <p><a class="btn btn-default" href="http://datacoresystems.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact RUZIVO</h2>
        <p>If you want to test RUZIVO for your media  database, contact us. We can provide
	   you trial version whcih gives full functionalities of RUZIVO.</p>
        <p><a class="btn btn-default" href="http://datacoresystems.com/">Learn more &raquo;</a></p>
    </div>
</div>
{% endblock %}