{% extends "base.html" %}


{% block head_title %} {{ block.super }} | IMAGE SEARCH {% endblock %}

{% block content %}
 
 {% if objects %}
  <ul class="nav nav-tabs">
   {% for key,obj in objects.items %}
    {% if forloop.counter == 1 %}
     <li class="active">
    {% else %}
     <li>
    {% endif %}
      <a  href="#bkt{{forloop.counter}}" data-toggle="tab">Customer - {{key}}</a>
     </li>
    {% endfor %}
  </ul>
  <div class="tab-content" style="border: 1px solid #ddd;padding: 10px;">
   {% for key,blobs in objects.items %}
    {% if forloop.counter == 1 %}
     <div id="bkt{{forloop.counter}}" class="tab-pane fade in active">
    {% else %}
     <div id="bkt{{forloop.counter}}" class="tab-pane fade">
    {% endif %}
      <form name="imageSearchForm_{{ forloop.counter }}" action="/imageSearch" method="POST">
       {% csrf_token %}
       <div class="btn-group">
	    <input name="submit" type="submit" class="btn btn-primary" value="Image Search"/>
		<input name="submit" type="submit" class="btn btn-primary" value="Similarity"/>
	    <br/>
	    <br/>
	   </div>
       <!--<P>-->
	   {% if public_url %}
        <div class="alert alert-success alert-dismissable">
         <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
         <strong>Uploaded URL: </strong> {{public_url}}
        </div>
       {% endif %}
       <table id="table" class="table table-hover table-bordered">
        <thead>
         <tr>
          <th class="no-sort" ><input type="checkbox" name="chkAll" id="chkAll" value="all"></th>
          <th>#</th>
          <th>File Name</th>
          <th>Type</th>
          <th>Created On</th>
          <!-- <th class="no-sort">Action</th> -->
         </tr>
        </thead>
        <tbody>
         {% if blobs %}
          {% for blbs in blobs %}
           <tr>
            <th><label><input type="checkbox" name="miasImages" value="{{blbs.name}}+{{blbs.public_url}}+{{key}}"></label></th>
            <th scope="row">{{blbs.index|add:'1'}}</th>
            <td><a class="blbspopup" data-toggle="tooltip" data-html="true" data-placement="right" title="<img width='100%' height='100%' src='{{blbs.public_url}}'>" href="{{blbs.public_url}}" target="_blank">{{blbs.name}}</a></td>
            <td>{{blbs.type}}</td>
            <td>{{blbs.timecreated}}</td>
            <!-- <td class="text-center"><a href="#"><span class="glyphicon glyphicon-trash"></span></a></td> -->
           </tr>
          {% endfor %}
         {% else %}
          <tr>
           <td>No data available!!</td>
	       <td></td>
		   <td></td>
		   <td></td>
		   <td></td>
          </tr>
         {% endif %}
        </tbody>
       </table>
	  </form>
     </div>
   {% endfor %}
  </div>
 {% else %}
  <p>No bucket data available!!</p>
 {% endif %}
 <!--</div>-->
 {% if operation == 'Similarity' %}
  <br/>
  <br/>
  <h3>Similarity Result:</h3>
  {% if ed_result %}
   {% for eachResult in ed_result %}
	<div>
	 <label>{{ eachResult.image_name }}</label>
	  {% if eachResult.similarity_result %}
	   {% for distance_result in eachResult.similarity_result %}
		<p>Image: <b>{{ distance_result.image_name }}</b> and Similarity: <b>{{ distance_result.distance }}</b></p>
	   {% endfor %}
	  {% endif %}
	</div>
   {% endfor %}
  {% endif %}
 {% endif %}
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
 <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
 <script>
    $(document).ready(function() {
      $('a[data-toggle=tooltip]').tooltip();
      $('.table').DataTable( {
        "aLengthMenu": [[5, 10, 15,20,25, -1], [5, 10, 15, 20, 25, "All"]],
        "iDisplayLength": 10,
        "columnDefs": [ {
          "targets": 'no-sort',
          "orderable": false,
        } ]
      } );
      $('input[name="chkAll"]').click(function () {
        $(this).parents('div:first').find(':checkbox').not(this).prop('checked', this.checked);
      });
      $('button[name="btnDelete"]').on('click', function(e) {
        $('#modalDelete').modal('hide');
        var favorite = [];
        var $form = $(this).closest('form');
        e.preventDefault();
        $('table [type="checkbox"]').each(function(i, chk) {
          if (chk.checked) {
            favorite.push(chk.value);
          }
        });
        if (favorite.length === 0) {
          $('button[name="btnDelete"]').after('<div class="alert alert-warning alert-dismissable"><a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>Select at least one item to delete!!</div>');
        }
        else{
          $(".alert").alert("close");
          $('#modalDelete').modal('show');
          $("#modalDelete .modal-body").html("")
          $("#modalDelete .modal-body").append("Are you sure you want to delete?<br/>"+favorite.join(",<br/> "));
          $('#modalDelete').one('click', '#delete', function(e) {
            $form.trigger('submit');
          });
        }
      });
    });
	/*
	function submitForm(selectedForm) {
	  if($('input[name="chkAll"]:checked').val()== "all") {
	   if($("input[type=checkbox]:checked").length > 11) {
	    alert("You cannot select more than 10 images");
	    return false;
	   }
	   else if($("input[type=checkbox]:checked").length == 1) {
	    alert("Please select atleast one image");
	    return false;
	   }
	   else {
	    return true;
	   }
	  }
	  else {
	   if($("input[type=checkbox]:checked").length == 0) {
	    alert("Please select atleast one image");
	    return false;
	   }
	   else if($("input[type=checkbox]:checked").length > 10) {
	    alert("You cannot select more than 10 images");
	    return false;
	   }
	   else {
	    return true;
	   }
	  }
	}	*/
 </script>
 
 {% if operation == 'ImageSearch' %}
  {% if result %}
   <script>
    alert("Images information is stored in datastore");
   </script>
  {% endif %}
 {% endif %}
{% endblock %}