{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>MIAS 0.7</h1>
    <p class="lead">MIAS is Media Intelligence and Automation System that can segment and detect image and video data of advertisements.</p>
    <p><a href="https://www.bridgeport.edu/~jelee/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What is MIAS?</h2>
        <p>
            Django gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://www.bridgeport.edu/~jelee">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How to use MIAS</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="http://www.bridgeport.edu/~jelee">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Multimedia Information Group@UB</h2>
        <p>You can easily publish to Microsoft Azure using Python Tools for Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://www.bridgeport.edu/~jelee">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
